.aut-nav {
  // display: inline-flex;
  // margin-left: auto;
  // align-items: center;
  // @media screen and (min-width: 767px) {
  //   display: none;
  // }
  // @media screen and (min-width: 768px) {
  //   display: inline-flex;
  // }
  // @media screen and (min-width: 768px) {
  //   display: flex;
  // }
  @media screen and (min-width: 1200px) {
    display: flex;
    margin-left: auto;
    align-items: center;
  }
  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column-reverse;
    margin-left: 40px;
  }
}

.aut-nav__container {
  display: flex;

  // @media screen and (max-width: 767px) {
  //   display: none;
  // }
  @media screen and (min-width: 768px) {
    margin-left: 84px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 301px;
  }
}

@media screen and(min-width:1200px) {
  .aut-nav__item:not(:last-child) {
    margin-right: 30px;
  }
}

.aut-nav__link {
  display: inline-flex;
  align-items: center;

  color: $primary__text-color;
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;

  transition: color $transition-time $transition-cubic;

  &:hover,
  &:focus {
    color: $accent-color;
  }

  @media screen and (min-width: 768px) {
    font-size: 12px;
    line-height: 1.16;
    padding-top: 10px;
  }

  // @media screen and (max-width: 1199px) {
  //   padding-top: 30px;
  //   padding-bottom: 30px;
  // }
  @media screen and (min-width: 1200px) {
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 14px;
    line-height: 1.14;
  }
}

.aut-nav__link--tel {
  @media screen and (max-width: 767px) {
    font-size: 40px;
    line-height: 1.17;
    margin-bottom: 32px;
  }
}

.aut-nav__link--mail {
  @media screen and (max-width: 767px) {
    font-size: 24px;
    line-height: 1.16;
    margin-bottom: 64px;
  }
}

.aut-nav__svg {
  @extend %display-block;
  width: 17px;
  height: 18px;
  fill: $grey-colour;
  margin-right: 10px;

  .aut-nav__link:hover &,
  .aut-nav__link:focus & {
    fill: $accent-color;
  }

  @media screen and (max-width: 767px) {
    display: none;
  }
}

.aut-nav__svg--tel {
  @extend %display-block;
  width: 20px;
  height: 18px;
  fill: $grey-colour;

  @media screen and (min-width: 768px) {
    margin-left: -3px;
  }
}
