.mobil-list {
  display: flex;
  position: fixed;
  bottom: 48px;
  left: 40px;
  right: 41px;
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.mobil-list__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  line-height: 1.22;
  letter-spacing: 0.02em;

  &:not(:last-child) {
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
  &:not(:first-child) {
    padding-left: 10px;
  }

  @media screen and (max-width: 479px) {
    font-size: 13px;
  }
}

.mobil-list__link a {
  color: $accent-color;
}
