.navigation {
  border-bottom: 1px solid #ececec;
  position: relative;
}

.navigation__container {
  @extend %centeredFlex;
}

.menu-button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  z-index: 999;

  &:focus,
  &:hover {
    fill: $accent-color;
  }

  @media screen and(min-width:767px) {
    display: none;
  }
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.menu-container {
  display: flex;
  align-items: center;
  z-index: 99;

  @media screen and (max-width: 767px) {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    height: 100vh;

    background-color: #ffffff;

    // height: 796px;

    &.is-open {
      display: block;

      // transform: translateY(-62px);
    }
  }
}
.icon-menu {
  position: absolute;
  left: 0;
}
